/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: 'Didact Gothic', sans-serif;
	
	color: #202030;
	background-color:  #c27362;
}

h1 {

	font-family: 'Didact Gothic', sans-serif;
	
	font-size: 60px;
	
	font-weight: bold;
	
	text-transform: uppercase;
	
	text-shadow: 5px 5px #fdeeda;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #de8773;
}

.resume-main {
	background-color: #f7e0c5;
}

.resume-aside {
	background-color: #fdeeda;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em
	
	;
}

.biography-details li::before {
	color: #898C23;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;

}

.bg-green {
	background-color: #A2A62D !important;
}

.my-border {
	border-color: #c27362 !important;
}

a:link {
color: black;
		
		}
		
		a:visited {
		
		color: #c27362;
		
		}
		
		a:hover {
		
		color: black;
		
		background-color: #A2A62D;
		
		}

}